
<div class="grid__item">
    <div class="card"><img class="card__img" src="../images/{{actor.picture}}">
        <div class="card__content">
            <h1 class="card__header">{{actor.first_name }} {{actor.last_name}}</h1>
            <h1 class="card__header">{{actor.born_day }} </h1>
            <h1 class="card__header">{{actor.born_month }} </h1>
            <h1 class="card__header">{{actor.born_year }} </h1>
            
            {%for i in actor.awards%}
            <h1>{{i}}</h1>
            {%endfor%}

            {%for i in actor.movies%}
            <h1>{{i}}</h1>
            {%endfor%}

            <h1 class="card__header">{{actor.picture }} </h1>
            <h1 class="card__header">{{actor.web }} </h1>
                                <a href="{{actor.instagram}}" target="_blank"><i class="fa-brands fa-instagram fa-3x"></i></a>
            
        </div>
    </div>
</div>