
<div class="grid__item">
    <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80" alt="Snowy Mountains">
        <div class="card__content">
            <h1 class="card__header">{{actor.first_name }} {{actor.last_name}}</h1>
            <p class="card__text">Look up at the night sky, and find yourself <strong>immersed</strong> in the amazing mountain range of Aspen. </p>
            

            <a href="{{actor.instagram}}" target="_blank"><i class="fa-brands fa-instagram fa-3x"></i></a>
            
        </div>
    </div>
</div>